.comment__container{
    padding: 30px;
}
.comment__avatar{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.comment__name{
    color: #649195 !important;
    font-family: 'Caveat', sans-serif;
    font-size: 35px;
    width: 70%;
    overflow-wrap: break-word;
}
.comment__content{
    color: #e5e2e2;
    width: 70%;
    overflow-wrap: break-word;   
}


@media only screen and (max-width: 600px) {
    .comment__content{
     width: 100%;
     justify-content: center;
    }
    .comment__name{
        font-size: 25px;
    }
}



